@font-face {
    font-family: Rubik;
    src: local("Rubik"), local("Rubik-Regular"), url(Rubik-VariableFont_wgh.ttf) format("truetype");
}

html {
    background-color: #0d1117;
    color: #c9d1d9;
    font-family: rubik, helvetica, arial, sans-serif;
    color-scheme: dark light;
}

a:visited, a:link {
    color: #8b949e;
    text-decoration: none;
}

a:hover, a:active {
    color: #58a6ff;
    text-decoration: none;
}

table {
    border-collapse: collapse;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.auxiliary {
    color: #e8c844;
}
